<a href="https://colab.research.google.com/github/shraddha240303/Projects/blob/main/health_care.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import math
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv("/content/healthcare_dataset.csv")
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal

In [ ]:
df.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

# Demographic Analysis

Average age of patients.

Gender distribution (Male vs Female).

Blood type frequency (O+, A-, etc).

In [ ]:
avg_age = df['Age'].mean()
print("Average Age:", avg_age)

Average Age: 51.4522

In [ ]:
print(df['Gender'].value_counts())

Gender
Female    5075
Male      4925
Name: count, dtype: int64

In [ ]:
print(df['Blood Type'].value_counts())

Blood Type
AB-    1275
AB+    1258
B-     1252
O+     1248
O-     1244
B+     1244
A+     1241
A-     1238
Name: count, dtype: int64

# Medical Condition Trends

Most common medical conditions (Diabetes, Asthma, etc).

Correlation between age & medical condition (e.g., older patients with diabetes, younger with asthma).

Hospital-wise most frequent conditions.

In [ ]:
print(df['Medical Condition'].value_counts())

Medical Condition
Asthma          1708
Cancer          1703
Hypertension    1688
Arthritis       1650
Obesity         1628
Diabetes        1623
Name: count, dtype: int64

In [ ]:
df[df['Age'] >= 55]['Age'].corr(df['Billing Amount'])

np.float64(-0.00472546908915117)

In [ ]:
print(df.corr(numeric_only=True))

                     Age  Billing Amount  Room Number
Age             1.000000       -0.009483    -0.005371
Billing Amount -0.009483        1.000000    -0.006160
Room Number    -0.005371       -0.006160     1.000000

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['Medical_Condition_Code'] = encoder.fit_transform(df['Medical Condition'])

In [ ]:
df[df['Age'] > 55]['Age'].corr(df[df['Medical Condition'] == "Diabetes"]['Medical_Condition_Code'])

np.float64(nan)

In [ ]:
df.groupby('Hospital')['Medical Condition'].agg(lambda x: x.value_counts().index[0])

Hospital
Abbott Inc                        Arthritis
Abbott LLC                        Arthritis
Abbott PLC                        Arthritis
Abbott, Curry and Moore              Asthma
Abbott-Jordan                  Hypertension
                                   ...
Zimmerman, Salinas and Hill          Cancer
Zuniga Ltd                           Asthma
Zuniga, Taylor and Scott             Asthma
Zuniga-Chandler                Hypertension
Zuniga-Johnson                      Obesity
Name: Medical Condition, Length: 8639, dtype: object

# Hospital & Doctor Insights

Number of patients per hospital.

Which doctors admit the most patients.

Admission types by hospital (Elective vs Emergency).

In [ ]:
df.groupby("Hospital")["Name"].nunique()

Hospital
Abbott Inc                     1
Abbott LLC                     2
Abbott PLC                     1
Abbott, Curry and Moore        1
Abbott-Jordan                  1
                              ..
Zimmerman, Salinas and Hill    1
Zuniga Ltd                     1
Zuniga, Taylor and Scott       1
Zuniga-Chandler                1
Zuniga-Johnson                 1
Name: Name, Length: 8639, dtype: int64

In [ ]:
df.groupby("Doctor")["Name"].nunique().sort_values(ascending=False)

Doctor
Michael Johnson    7
Michael Smith      5
James Perez        5
Robert Brown       5
James Williams     5
                  ..
Gabriel Nelson     1
Gabriel Reyes      1
Gabriela Cooley    1
Gabriela Garcia    1
Gabriel Cook       1
Name: Name, Length: 9416, dtype: int64

# Insurance & Billing

Average billing amount by insurance provider.

Total revenue by insurance provider (Medicare vs UnitedHealthcare).

Distribution of billing amounts across conditions.

In [ ]:
df['Billing Amount'].mean()

np.float64(25516.8067777384)

In [ ]:
df.groupby('Insurance Provider')['Billing Amount'].mean()

Insurance Provider
Aetna               25837.923338
Blue Cross          25652.489617
Cigna               25656.946859
Medicare            25002.480429
UnitedHealthcare    25404.685388
Name: Billing Amount, dtype: float64

In [ ]:
df.groupby('Medical Condition')['Billing Amount'].mean()

Medical Condition
Arthritis       25187.631255
Asthma          25416.869895
Cancer          25539.096133
Diabetes        26060.116129
Hypertension    25198.033973
Obesity         25720.842683
Name: Billing Amount, dtype: float64

# Admission & Discharge Analysis

Average length of stay (Discharge Date – Admission Date).

Which admission type (Elective vs Emergency) has higher cost.

Peak months for admissions.

In [ ]:
# print((pd.to_datetime(df['Discharge Date'], format="%d-%m-%Y") - pd.to_datetime(df['Date of Admission'], format="%d-%m-%Y")).dt.days.mean())

In [ ]:
df.groupby('Admission Type')['Billing Amount'].mean().sort_values(ascending=False).index[0]

'Urgent'

# Medication & Test Results

Which medications are most commonly prescribed.

Success/failure rates from test results (Normal, Inconclusive, etc).

Medication vs billing trends (does Lipitor cost more on average than Aspirin?).

In [ ]:
df['Medication'].value_counts().sort_values(ascending=False).index[0]

'Penicillin'

In [ ]:
df['Test Results'].value_counts(normalize=True)*100

Test Results
Abnormal        34.56
Inconclusive    32.77
Normal          32.67
Name: proportion, dtype: float64